body{
    margin:0px;
}
        /*   section 1    */
.section_1{
    background-color:#ECECEC;
    height:80px;
    width:100%;
    }
.child_1_1{
    margin-left:170px;
    position:absolute;
    }
.child_1_2{
    padding-top:15px;
    margin-left:260px;
    position:absolute;
    font-size:40px;
    font-family:arial, sans-serif;
    }
        /*   section 2    */
.section_2{
    background-color:green;
    height:40px;
    width:100%;
    }
.child_2_1{
    margin-left:175px;
    padding-top:8px;
    color:#F5FFFA;
    position:absolute;
    }
.child_2_2{
    margin-left:300px;
    padding-top:8px;
    color:#F5FFFA;
    font-weight:bold;
    position:absolute;
}
        /*   section 3    */
.section_3{
    height:80px;
    width:100%;
    }
.child_3_1{
    margin-left:175px;
    font-family:arial;
    font-weight:bold;
    padding-top:18px;
    color:#606060;
}
.child_3_2{
    margin-left:175px;
    padding-top:15px;
    font-family:Times New Roman;
}
    /* section 4 */
.section_4{
    margin-left:175px;
    padding-top:20px;
    border:1px;
    width:500px;
    height:100px
}
	/* section 5 */
.section_5{
	margin-left:175px;
    margin-top:200px;
}
	/*section 6 */
.section_6{
	margin-left:175px;
}
	/*other properties*/
.heading{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:17px;
}
.green{
    border-radius:10px;
    height:10px;
    min-width:10px;
    display:inline-block;
    background-color:green;
}
.orange{
    border-radius:10px;
    height:10px;
    min-width:10px;
    display:inline-block;
    background-color:orange;
}
.red{
    border-radius:10px;
    height:10px;
    min-width:10px;
    display:inline-block;
    background-color:red;
}
.cement{
    height:30px;
    min-width:80px;
    display:inline-block;
    background-color:#eee;
    padding-top:6px;
    text-align:center;
}
.issue_exist{
	
	 height:30px;
    min-width:80px;
    display:inline-block;
    background-color:#009b00;
    padding-top:6px;
    text-align:center;
	
	
}

a{
    text-decoration:none;
    }
.issuesymbol{
    border-radius:10px;
    height:10px;
    min-width:10px;
    display:inline-block;
    background-color:red;
 
}
